
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    
</head>
<body>
<div id="container">

<a href="{{ url_for('home') }}" class="backbutton">Back</a>
    <div class="heading">
        <h1 class="caption"><span class="tweak">A</span>dd <span class="tweak">P</span>assword</h1>      
    </div>
    <div>
        <form action="/addpassword" method="post" class="controls">
            <input type="text" id="websitename" name="website" placeholder="Website name" class="form-control" required><br>
            <input type="url" id="url" name="url" placeholder="URL" class="form-control"required><br>
            <input type="email" name="email" placeholder="Email" class="form-control"required><br>
            <input type="text" name="username" placeholder="Username" class="form-control"required><br>
            <input type="text" id="password" name="password" placeholder="Password" class="form-control"required>
            <button type="button" class="btn-custom" onclick="generatePassword()"required>Generate</button><br>
            <button type="submit" class="btn-custom">Save</button><br>
        </form>
    </div>
    <p><a style="color:#C1C1C1" href="{{url_for('login')}}">Log out</a></p>
</div>
<div id="particles-js"></div>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='javascript/particle.js')}}"></script>
<script src="{{url_for('static',filename='javascript/generate.js')}}"></script>
</body>
</html>

