
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div id="container">
   
<a href="{{ url_for('home') }}" class="backbutton">Back</a>
    <div class="heading">
        <h1 class="caption"><span class="tweak">M</span>anage <span class="tweak">P</span>assword</h1>
    </div>

    <div class="form-group">
        <input type="text" id="search-query" class="form-control" placeholder="Search for password or website">
    </div>

    {% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
    <div class="controls">
        <a href="{{ url_for('addpassword') }}" class="btn-custom">Want to Add new Passwords?</a>
    </div>
    {% endif %}
   
    {% if success %}
    <div class="alert alert-success">
        {{ success }}
    </div>
    {% endif %}

    {% if message %}
    <div id="password-list" class="panels">
        <h3>Click To edit the Passwords</h3>
        {% for sublist in message %}
        <div class="accordion-container">
            <button class="accordion">{{ sublist[0] }}</button>
            <div class="panel">
                {% for item in sublist[1:] %}
                <div class="password-item">
                    <input type="text" readonly value="{{ item }}">
                    <button class="copy-btn">Copy</button>
                </div>
                {% endfor %}
                <a href="{{ url_for('editpassword', sublist_index=loop.index0) }}" class="edit-btn">Edit</a>
                 <a href="{{ url_for('editpassword', sublist_index=loop.index0) }}" class="delete-btn">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="no-results" style="display: none;">
        <p class="nomatch">No matches found for your search.</p>
    </div>
    {% endif %}
</div>

<div id="particles-js"></div>

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='javascript/particle.js') }}"></script>
<script src="{{ url_for('static', filename='javascript/panels.js') }}"></script>
</body>
</html>

